<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clubs info</title>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

<h1>Club</h1>
<hr>
<div>
    <h3>Club detail</h3>
    <form action="#" th:action="@{/clubs/save}" th:object="${club}" method="post">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}" placeholder="Club name">

        <input type="text" th:field="*{shortcut}" placeholder="Shortcut">

        <button type="submit">Save</button>

    </form>

    <a th:href="@{/clubs/detail(clubId=${club.id})}">Back</a>

</div>

</body>
</html>