<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location info</title>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

<h1>Location</h1>
<hr>
<div>
    <h3>Location detail</h3>
    <form action="#" th:action="@{/locations/save}" th:object="${location}" method="post">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}" placeholder="Location name">

        <input type="text" th:field="*{city}" placeholder="City">

        <input type="text" th:field="*{address}" placeholder="Address">

        <input type="text" th:field="*{mapLink}" placeholder="Map link">

        <button type="submit">Save</button>

    </form>

    <a th:href="@{/locations/detail(locationId=${location.id})}">Back</a>

</div>

</body>
</html>