<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

<h1 th:text="*{player.firstName} + ' ' + *{player.lastName}"></h1>
<hr>
<div>
    <h3>Edit player</h3>
    <form action="#" th:action="@{/players/update}" th:object="${player}" method="post">

        <input type="hidden" th:field="*{id}">

        <br>
        <label>First name</label>
        <input type="text" th:field="*{firstName}" placeholder="First Name">

        <br>
        <label>Last name</label>
        <input type="text" th:field="*{lastName}" placeholder="Last Name">

        <br>
        <label>Email</label>
        <input type="text" th:field="*{email}" placeholder="Email">

        <br>
        <label>Date of birth</label>
        <input type="date" th:field="*{dateOfBirth}" placeholder="Date of Birth">

        <br>
        <label>Club</label>
        <select th:field="*{club.id}">
            <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.name}"></option>
        </select>

        <br>
        <button type="submit">Save</button>

    </form>

    <br><br>
    <a th:href="@{/players/profile(playerId=${player.id})}">Back</a>

</div>

</body>
</html>