<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Match info</title>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

<h1>Match</h1>
<hr>
<div>
    <h3>Match detail</h3>
    <form action="#" th:action="@{/matches/save}" th:object="${match}" method="post">

        <input type="hidden" th:field="*{id}">

        <input type="date" th:field="*{matchDate}" placeholder="Date of match">

        <select th:field="*{homeTeam.id}">
            <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.name}"></option>
        </select>

        <select th:field="*{opponent.id}">
            <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.name}"></option>
        </select>

        <select th:field="*{location.id}">
            <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
        </select>

        <select th:field="*{season.id}">
            <option th:each="season : ${seasons}" th:value="${season.id}" th:text="${season.name}"></option>
        </select>

        <button type="submit">Save</button>

    </form>

    <a th:href="@{/matches/detail(matchId=${match.id})}">Back</a>

</div>

</body>
</html>