<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

<h1 th:text="*{player.firstName} + ' ' + *{player.lastName}"></h1>
<hr>
<div>
    <h3>Personal info</h3>
    <table>
        <tr>
            <th>First Name</th>
            <td th:text="*{player.firstName}"/>
        </tr>
        <tr>
            <th>Last Name</th>
            <td th:text="*{player.lastName}"/>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="*{player.email}"/>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td th:text="*{#temporals.format(player.dateOfBirth, 'dd.MM.yyyy')}"/>
        </tr>
        <tr>
            <th>Club</th>
            <td th:text="*{player.club.name}"/>
        </tr>
    </table>
    <a th:href="@{/players/edit(playerId=${player.id})}">Edit player</a>
    <a th:href="@{/players/delete(playerId=${player.id})}" onclick="if (!(confirm('Are you sure you want to delete player?'))) return false">Delete player</a>
    <br><br>
    <a th:href="@{/players}">Back</a>
</div>
<div>
    <h3>Statistics</h3>

    <table>
        <thead>
        <tr>
            <th>Date of match</th>
            <th>Home team</th>
            <th>Opponent</th>
            <th>Location</th>
            <th>Season</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Total</th>
            <th>Penalties</th>
            <th>On field difference</th>
            <th>Shots</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="playerMatchStat : ${player.playersMatchesStats}">
            <td th:text="${#temporals.format(playerMatchStat.match.matchDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${playerMatchStat.match.homeTeam.name}"></td>
            <td th:text="${playerMatchStat.match.opponent.name}"></td>
            <td th:text="${playerMatchStat.match.location}"></td>
            <td th:text="${playerMatchStat.match.season.name}"></td>
            <td th:text="${playerMatchStat.goals}">
            <td th:text="${playerMatchStat.assists}">
            <td th:text="${playerMatchStat.total}">
            <td th:text="${playerMatchStat.penalties}">
            <td th:text="${playerMatchStat.onFieldDifference}">
            <td th:text="${playerMatchStat.shots}">
        </tr>
        </tbody>
    </table>

    <p>tbd</p>
</div>


</body>
</html>