<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players List</title>
</head>
<body>


<h1>FBC Liberec players</h1>
<hr>

<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Date of birth</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="player : ${players}">
            <td th:text="${player.firstName}" />
            <td th:text="${player.lastName}" />
            <td th:text="${player.email}" />
            <td th:text="${player.dateOfBirth}" />
        </tr>
    </tbody>
</table>


</body>
</html>