<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players List</title>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>


<h1>FBC Liberec players</h1>
<hr>
<form action="#" th:action="@{/players}" method="get">
    <input type="text" name="name" placeholder="Search names">
    <input type="submit" value="Search" >
</form>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="player : ${players}">
            <td >
                <a th:text="${player.firstName} + ' ' + ${player.lastName}" th:href="@{/players/profile(playerId=${player.id})}" />
            </td>
            <td th:text="${#temporals.format(player.dateOfBirth, 'dd.MM.yyyy')}" />
            <td>
                <a th:href="@{/players/delete(playerId=${player.id})}" onclick="if (!(confirm('Are you sure you want to delete player?'))) return false">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<a th:href="@{/players/addNewPlayer}">Add new player</a>


</body>
</html>